.button {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 19px;
    border-radius: 10px;
    outline: none;
    background-color: rgba(12, 188, 139, 0.15);
    border: 1px solid #0CBC8B;
    cursor: pointer;
    color: #0CBC8B;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    transition: .25s;
    svg {
        margin-left: 12px;
        width: 9px !important;
        height: 16px;
    }
    &:hover {
        background-color: rgba(12, 188, 139, .8);
        transition: .25s;
        color: white;
        svg {
            color: white;
        }
    }
}