.calculating {
    background-color: #F8F9FA;
    min-height: 100vh;
    &-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &--title {
            font-weight: 600;
            font-size: 28px;
            line-height: 42px;
            color: #343F56;
            margin-bottom: 85px;
        }
        &--illustration {
            max-width: 651px;
        }
    }
}